.navbar-brand{
    color: black
}

.navbar-light .navbar-brand{
        color: black
}

.navbar-inverse {
    background-color:grey;
    border-color: #080808;
}

.navbar-brand{
    font-size: xx-large
}

.pink{
    background:  pink;
    border: 1px solid purple;
}

.vline	{ width:5px; height:20px; border:1 solid green; }
